[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "==2.*"
gunicorn = "*"
django-heroku = "*"


[requires]

python_version = "3.9"


[dev-packages]

prospector = "*"
