{% extends "psykahut_base.html" %}

{% block content %}
  {% if not answers %}
    {% include "summary.html" %}
  {% endif %}
  <h2>
    ניהול משחק
  </h2>
  <h3>
    {{game.topic}} - {{game.started}} - {{num_questions_asked}}
  </h3>
  {% if game.current %}
    <h4>
      {{game.current.question_text}}
    </h4>
    {% if answers %}
      <ul>
        {% for answer in answers.answers %}
          <li>
            {{answer.text}}
          </li>
        {% endfor %}
      </ul>
      {{num_votes}} הצבעות
    {% else %}
      {{num_answers}} תשובות
    {% endif %}
    <form action="/manage/next/" method="post">
      {% csrf_token %}
      <input type="submit" value="המשך" />
    </form>
    </ul>
  {% else %}
  נגמר.
  {% endif %}
  <h3>התחל משחק חדש:</h3>
  <form action="/manage/start_new/" method="post">
    {% csrf_token %}
    <div>
      <label for="topic">בחר:</label>
      <input type="text" id="topic" name="topic" />
    </div>
    <div>
      <label for="num_answers">כמות תשובות פתוחות:</label>
      <input id="num_answers" type="number" name="num_answers" value="3" />
    </div>
    <div>
      <input type="checkbox" id="shuffle" name="shuffle" checked />
      <label for="shuffle">סדר אקראי</label>
    </div>
    <input type="submit" />
  </form>
{% endblock %}
