{% extends "psykahut_base.html" %}

{% block content %}
  {% if summary %}
    <h2>{{summary.question}} - תוצאות</h2>
    <ul>
      {% for answer in summary.answers %}
        <li>
          {{answer.text}} ({{answer.author}}): {{answer.votes.count | safe}}
          {% if answer.votes.voters %}
            -
            <span style="font-size:66%">
              {% for voter in answer.votes.voters %}
                {{voter}}
                {% if not forloop.last %}
                ,
                {% endif %}
              {% endfor %}
            </span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <h2>
      ניקוד:
    </h2>
    <ul>
      {% for player in summary.scores %}
        <li>
          {{player.name}}: {{player.score}}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if question %}
    <h2>
      {{question}}
    </h2>
    <form action="/open_question/" method="post">
      {% csrf_token %}
      <label for="answer">המצא תשובה נכונה או אמינה לשאלה:</label>
      <input type="text" id="answer" name="answer" autofocus="autofocus" minlength="2" maxlength="120" size=80>
    </form>
  {% else %}
    <h2>
      זהו נגמר
    </h2>
    יאללה בלאגן!
  {% endif %}
{% endblock %}