<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title> פסייקאהווווווט! </title>
  <style type="text/css">
    body {
      background-color: #fcd;
    }
    h2 {
      color: #00f;
    }
    ul {
      list-style: none;
    }
    li {
      padding: 10px;
      background-color: #dbf;
    }
    li:nth-child(odd) {
      background-color: #dfb;
    }
  </style>
</head>

<body dir="rtl">
  <h1>
    <span style="color:gray">פ</span>סייקאהווווווט!
  </h1>
  {% block content %}
  {% endblock %}
</body>
</html>
